# Server
NODE_ENV=development
HOST=localhost
PORT=3000
API_PREFIX=api

# CORS — Frontend URL
CLIENT_URL=http://localhost:5173

# External Hotels API (WeSki mock vendor)
HOTELS_API_URL=https://gya7b1xubh.execute-api.eu-west-2.amazonaws.com/default/HotelsSimulator
